{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Play{% endblock %}</h1>
{% endblock %}

{% block content %}
  <article class=play>
    {% for para in text %}
      <p>{{ para }}</p>
    {% endfor %}
  </article>
  {% if not dead %}
  <form method="post">
    <label>Input an action:
      <input type="text" name="action" required>
      <input type="submit" name="submit-action" value="Take Action!">
    </label>
  </form>
  {% endif %}
  <a href="{{ url_for('game.reset') }}">Reset Game</a>
{% endblock %}
